<!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <img class="img-responsive center-block" src="../logo.png">
                <h2>Publica tus Productos Online</h2>
            </div>
        </div>
    </header>